
.quiz {
	text-align: center;
	font-size: 32px;
	margin-top: 16px;

}

.padding {
	padding: 0px 150px 150px 150px;
}

.margintop {
	margin-top: 48px;
}

.radiobtn {
	flex-wrap: wrap;
	display: flex;
	flex-direction: column;
	list-style-type: none;
  	margin: 25px 0 0 0;
  	font-size: 32px;
  	text-align: left;
	min-width: 200px;
}

.radiobtn input[type="radio"] {
  position: fixed;
  visibility: hidden;
}
}

.radiobtn label {
    display: inline-block;
    padding: 10px 20px;
}

.radiobtn input[type="radio"]:checked + label {
	background-color: #23262a;
    border-color: #4c4;
}

.radiobtn label:hover {
	background-color: #2e3338;
}

.radiobtn input[type="radio"]:active + label {
	background-color: #23262a;
}

#next {
	float: right;
	font-size: 16px;
}

#prev {
	float: left;
	font-size: 16px;
}

.bg-color {
	background-color: #31363b;
}
.lightergrey {
	background-color: #3a4045;
}
.navcolor {
	background-color: #232629;
}

.dropdown-item:active {
	background-color: #2D3033;
	color: #D8DBDF;
}

.dropdown-item:hover {
	background-color: #2D3033;
	color: #D8DBDF;
}

.dropdown-item:focus {
	background-color: #2D3033;
	color: #D8DBDF;
}

.dropdown-item {
	color: #D8DBDF;
}

.dropdown-menu {
	background-color: #2D3033;
	color: #D8DBDF;
}

.quizbuttons {
	padding: 12px;
	text-indent: 6px;
}

.btnshadow {
	box-shadow: 0 5px #22262a;
}

.btnshadow:active {
  box-shadow: 0 3px #22262a;
  transform: translateY(2px);
}

.greycolor {
	color: #D8DBDF;
}

.margintop {
	margin-top: 16px;
}

.lessonbox {
	width: 300px;
}
.lessontext {
	width: 250px;
	text-align: center;
	font-weight: 500;
	font-size: 18px;
}

.topbox {
	height: 50px;
}

.lessonbtn {
	padding: 6px 16px 6px 16px;
}
.returnbtn {
	color: #D8DBDF;
}

@media only screen and (min-width: 600px) {
		.lessonbox {
			width: 500px;
		}
		.lessontext {
			width: 450px;
			font-size: 20px;
		}

		 .lessonkana {
  	font-size: 32px;
  }
  }

  @media only screen and (min-width: 1200px) {
		.lessonbox {
			width: 700px;
		}
		.lessontext {
			width: 450px;
			font-size: 24px;
		}
		.lessonbtn {
			padding: 8px 20px 8px 20px;
		}

		.lessonkana {
  	font-size: 42px;
  }
  }

  .lessonkana {
  	font-size: 24px;
  	font-weight: bold;
  	text-align: center;
  }