body {
	margin: 0px;
}
.container {
	display: flex;
}

.e {
	text-align: center;
	font-size: 32px;
	margin-top: 16px;

}

.buttons {
	/*text-align: left;*/
	margin-top: 48px;
	margin-bottom: 32px;
	/*justify-content: left;*/
	flex-wrap: wrap;
	display: flex;
	flex-direction: column;
	/*width: 350px;*/
}

.button-size {
	padding: 24px 160px 24px 16px ;
	text-align: left !important;
	max-width: 200px;
	min-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  width: 10%;
}

.border1 {
	border: solid white;
	border-radius: 5px;
	border-width: 1px;
}

.kanjiToDefinition {
	background-color: #00D1F8;
}

.kanjiToReading {
	background-color: #D300F8;
}

.definitionToKanji {
	background-color: limegreen;
}

.readingToKanji {
	background-color: orangered;
}


.padding {
	padding-left: 150px;
	padding-right: 150px;
}

.margintop {
	margin-top: 48px;
}

@media screen and (max-width: 600px) {
.paddingmedia {
	padding-left: 50px;
	padding-right: 50px;
}
}

.radiobtn {
	flex-wrap: wrap;
	display: flex;
	flex-direction: column;
	list-style-type: none;
  margin: 25px 0 0 0;
  padding-left: 0px;
  font-size: 24px;
  text-align: left;
  	max-width: 200px;
	min-width: 200px;
}

.radiobtn input[type="radio"] {
  position: fixed;
  visibility: hidden;
}
}

.radiobtn label {
    display: inline-block;
    padding: 10px 20px;
}

.radiobtn input[type="radio"]:checked + label {
background-color: darkgray !important;
    border-color: #4c4;
}

.radiobtn label:hover {
	background-color: darkgray !important;
}

#next {
	float: right;
	font-size: 16px;
}

#prev {
	float: left;
	font-size: 16px;
}

.nav {
	background-color: #232629;
	color: #FFFFFF;
    width: 100%;
    min-width: 766px;
    font-size: 24px;
    border-bottom: 1px solid<
}

.bg-color {

	background-color: #31363b;
}

.header-learn {

}

.dashboard-btn {
	margin: 100px;
}



.dropbtn {
  background-color: #343a40;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #343a40;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}

.show {
  display: block;
}
